<div class="col-md-12">
	<h3 class="mb-3 text-center">Add Champion</h3>
	<div class="form-group row">
	  <label class="control-label col-md-12">Champion Name</label>
	  <input type="text" [(ngModel)]="championDetails.name" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Role</label>
	  <input type="text" [(ngModel)]="championDetails.role" class="form-control">
	</div>

  <div class="form-group row">
	  <label class="control-label col-md-12">Difficulty</label>
	  <input type="text" [(ngModel)]="championDetails.difficulty" class="form-control">
	</div>

  <div class="form-group row">
	  <label class="control-label col-md-12">Image</label>
	  <input type="text" [(ngModel)]="championDetails.imageUrl" class="form-control">
	</div>

	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" (click)="addChampion()">Add Champion</button>
	</div>
</div>
