<button class="btn btn-outline-primary" routerLink="/create-champion">Add Champion</button>

<button class="btn btn-outline-primary" routerLink="/champion-list">List Champion</button>

<!-- Use this in the AppComponent template -->
<div class="container">
  <h2>League of Legend's Champions</h2>
  <router-outlet></router-outlet>
</div>
