<!-- Champion list table, it hides when there is no champion -->
<div *ngIf="Champions.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Champion Id</th>
			<th scope="col">ChampionName</th>
			<th scope="col">Difficulty</th>
      <th scope="col">Role</th>
      <th scope="col">Image</th>
			<th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let champion of Champions">
			<td>{{champion.id}}</td>
			<td>{{champion.name}}</td>
			<td>{{champion.difficulty}}</td>
      <td>{{champion.role}}</td>
      <!--<td> <img [src]="{{champion.imageUrl}}.jpg"/> </td> -->
      <td>
      <img src= "{{champion.imageUrl}}" width="50%" height="50%">
      </td>
			<td>
			  <a [routerLink]="['/champion-edit/', champion.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteChampion(champion.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
